.button-menu {
  position: absolute;
  top: 10px;
  right: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #000;
  z-index: 10;

  .icon-cross {
    display: none;
  }

  &.is-open .icon-cross {
    display: block;
  }

  .icon-burger {
    display: block;
  }

  &.is-open .icon-burger {
    display: none;
  }

  &:hover {
    color: $accent-color;
  }
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
