.btn {
  width: 200px;
  min-height: 50px;
  position: relative;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.06em;

  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 230px) {
    flex-wrap: wrap;
    width: #{calc(100% - 30px)};
    height: auto;
  }
  color: $primary-white-color;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color $time-transition $function-transition;

  &:active,
  &:hover,
  &:focus {
    background-color: $btn-hover-color;
  }

  &__svg {
    display: inline-block;
    fill: currentColor;
  }

  /* submit button */
  &__form {
    margin: 0 auto;
    padding: 10px 52px;
  }
}

.btn__text--to-right4 {
  padding-left: 4px;
}
