body {
  font: 400 14px/1.14 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: $main-color;
  background-color: $primary-white-color;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: $mobile;
  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $computer) {
    width: $computer;
  }

  margin-left: auto;
  margin-right: auto;
  padding-left: $padding-container;
  padding-right: $padding-container;
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;

  @media screen and (min-width: $computer) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__header {
    padding-bottom: 30px;
    font-size: 28px;
    font-weight: 700;
    /* 42/36=1.166.. */
    line-height: 1.18;
    text-align: center;

    @media screen and (min-width: $computer) {
      margin-bottom: 50px;
      font-size: 36px;
    }
  }

  &--pb0 {
    padding-bottom: 0;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-size: inherit;
  line-height: inherit;
}

.icon {
  --color2: currentColor;
  fill: currentColor;
}
