/*------ Footer -------*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $bgcolor-secondary;

  &__box {
    // padding-left: $padding-container;
    // padding-right: $padding-container;
    text-align: center;
    @media screen and (min-width: $computer) {
      text-align: left;
      display: flex;
      align-items: baseline;
    }
  }

  &__call {
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: $primary-white-color;
  }
}

/* address */
.address {
  margin-bottom: 60px;
  @media screen and (min-width: $tablet) and (max-width: ($computer - 1px)) {
    display: inline-block;
  }
  @media screen and (min-width: $computer) {
    margin-bottom: 0;
  }
  &__info {
    margin-top: 20px;
    font-style: normal;
    line-height: 1.5;
    color: $primary-white-color;
    @media screen and (min-width: $computer) {
      line-height: 1.71;
    }
  }

  &__link {
    display: block;
    margin-top: 8px;
    color: $address-link-color;
    transition: color $time-transition $function-transition;
    @media screen and (min-width: $computer) {
      margin-top: 9px;
    }
  }
}
.address__link:hover,
.address__link:focus {
  color: $accent-color;
}

/* Social */
.footer__social-box {
  margin-bottom: 60px;
  color: $primary-white-color;

  @media screen and (min-width: $computer) {
    margin-left: 70px;
  }

  @media screen and (min-width: $tablet) and (max-width: ($computer - 1px)) {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 165px;
    padding-top: 5px;
    vertical-align: top;
  }
}

.social__link--reverse {
  background-color: $social-header-color;
  color: $primary-white-color;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

/* Subscription */
.sub {
  @media screen and (min-width: $computer) {
    margin-left: auto;
  }
  @media screen and (min-width: $computer) {
    &__box {
      display: flex;
      gap: 12px;
    }
  }

  &__btn {
    margin: 20px auto 0;
    gap: 10px;

    @media screen and (min-width: $computer) {
      margin: 0;
    }
  }
}

.input-wrap {
  @media screen and (min-width: $tablet) and (max-width: ($computer - 1px)) {
    padding: 0 144px;
  }

  @media screen and (min-width: $computer) {
    width: 358px;
  }
}
.sub__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  color: $primary-white-color;
  background-color: $bgcolor-secondary;
  outline: none;

  &:active,
  &:focus {
    border-color: $accent-color;
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}
