.page-header {
  border-bottom: 1px solid transparent;
}

.portfolio__page-header {
  border-color: $border-header-color;
}

.header__box {
  position: relative;
  min-height: 60px;
}

/* navigation */
.nav {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
}

/* site-nav */
.site-nav {
  display: none;

  &__item {
    width: max-content;
    margin-top: 0;
  }

  &__item ~ &__item {
    margin-top: 32px;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    margin-bottom: 0;

    &__item + &__item {
      margin-left: 50px;
      margin-top: 0;
    }
  }
}

/* site-nav links */
.site-nav__link {
  @extend %link;
  color: $main-color;
  transition: color $time-transition $function-transition;
  &:hover,
  &:focus {
    color: $accent-color;
  }
  @media screen and (min-width: $tablet) {
    padding: 32px 0;
  }
}

.site-nav__link--current {
  @media screen and (min-width: $tablet) {
    position: relative;
    overflow: hidden;
    color: $accent-color;

    &::after {
      content: '';
      width: 100%;
      height: 4px;
      border-radius: 2px;

      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      background-color: $accent-color;
    }
  }
}

/* contacts-nav */
.contacts-nav {
  display: none;
  color: $secondary-color;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column-reverse;
    margin-left: auto;
    font-size: 12px;
    line-height: 1.143;
  }
  @media screen and (min-width: $computer) {
    flex-direction: row-reverse;
    gap: 50px;
    font-size: inherit;
    line-height: inherit;
  }

  &__item {
    padding: 16px 0;

    @media screen and (min-width: $tablet) {
      display: block;
      padding: 5px;
    }
    @media screen and (min-width: $computer) {
      display: flex;
      align-items: center;
    }
  }

  &__icon {
    display: none;

    @media screen and (min-width: $tablet) {
      display: inline-block;
      margin-right: 8px;
    }

    @media screen and (min-width: $computer) {
      margin-right: 10px;
      transform: scale(1.143, 1.143);
    }
  }
}

/* contacts-nav links */
.contacts-nav__link {
  @extend %link;
  display: flex;
  align-items: center;
  transition: color $time-transition $function-transition;

  @media screen and (min-width: $tablet) {
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}
