.portfolio__page-header {
  border-bottom: 1px solid $border-header-color;
}

.header__box {
  position: relative;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

/* navigation */
.nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

/* site-nav */
.site-nav {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;

    &__item + &__item {
      margin-left: 50px;
    }
  }
}

/* site-nav links */
.site-nav__link {
  @extend %link;
  padding-left: 2px;
  padding-right: 2px;
  color: $main-color;
  transition: color $time-transition $function-transition;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.site-nav__link--current {
  position: relative;
  overflow: hidden;
  color: $accent-color;

  &::after {
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;

    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    background-color: $accent-color;
  }
}

/* contacts-nav */
.contacts-nav {
  display: flex;
  display: none;
  gap: 50px;
  margin-left: auto;

  &__item {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 10px;
    /* fill: currentColor; */
  }
}

/* contacts-nav links */
.contacts-nav__link {
  @extend %link;
  color: $secondary-color;
  display: flex;
  align-items: center;
  transition: color $time-transition $function-transition;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.address__link:hover,
.address__link:focus {
  color: $accent-color;
}
