.page-header__logo {
  padding: 16px 0;
  @media screen and (min-width: $table) {
    margin-right: 87px;
  }
  @media screen and (min-width: $computer) {
    margin-right: 92px;
  }
}
.logo {
  color: $accent-color;
  font: 700 24px/1.17 'Raleway', sans-serif;

  @media screen and (min-width: $computer) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__insert {
  color: $head-color;

  &--reverse {
    color: $primary-white-color;
  }
}
