.page-header__logo {
  padding: 16px 0;
  @media screen and (min-width: 768px) {
    margin-right: 87px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 92px;
  }
}
.logo {
  color: $accent-color;
  font: 700 26px/1.19 'Raleway', sans-serif;
}

.logo__insert {
  color: $head-color;

  &--reverse {
    color: $primary-white-color;
  }
}
