%link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin feature($img-set) {
  @each $image in $img-set {
    $index: index($img-set, $index);
    #{&}:ntn-child#{$index}::before {
      $url: 'url(../images#{$image}.svg)';
      background-image: $url;
    }
  }
} ;
