%link {
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%absolute-centerY {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin feature($class-name, $img-set) {
  @each $image in $img-set {
    $idx: index($img-set, $image);
    #{$class-name}:nth-child(#{$idx})::before {
      $url: url(../images/#{$image}.svg);
      background-image: $url;
    }
  }
} ;
