$padding-container: 15px;
$value-columns: 2;
$offset-projects: 30px;
$time-transition: 250ms;
$function-transition: cubic-bezier(0.4, 0, 0.2, 1);
$container-width: 1200px;
$poster-url: url(../images/poster.jpg);
$feature-images: 'antenna', 'clock', 'diagram', 'astronaut';
$mobile: 480px;
$table: 768px;
$computer: 1200px;

// colors
$main-color: #212121;
$secondary-color: #757575;
$head-color: #000;
$accent-color: #2196f3;
$primary-white-color: #fff;
$address-link-color: rgba(255, 255, 255, 0.6);
$btn-hover-color: #188ce8;
$bgcolor-main: #f5f5f5;
$bgcolor-secondary: #2f303a;
$bgcolor-team: #f5f4fa;
$bgcolor-project-overley: rgba(33, 150, 243, 0.9);
$bgcolor-doing-description: rgba(47, 48, 58, 0.8);
$bgcolor-backdrop: rgba(0, 0, 0, 0.2);
$outline-project-color: #eee;
$border-header-color: #ececec;
$icons-color: #afb1b8;
$social-header-color: #44454e;
$placeholder-color: rgba(117, 117, 117, 0.5);
$border-form-color: rgba(33, 33, 33, 0.2);
